fsspec==2024.9.0
datasets==3.1.0
xxhash==3.5.0
multiprocess==0.70.16
dill==0.3.8
google-colab==1.0.0
future==1.0.0
sphinxcontrib-qthelp==2.0.0
types-pytz==2024.2.0.20241003
msgpack==1.1.0
mizani==0.13.0
Markdown==3.7
jupyter-leaflet==0.19.2
tenacity==9.0.0
colour==0.1.5
httpimport==1.4.0
flatbuffers==24.3.25
httpx==0.27.2
sphinxcontrib-serializinghtml==2.0.0
httpcore==1.0.6
ipywidgets==7.7.1
ipyleaflet==0.19.2
platformdirs==4.3.6
librosa==0.10.2.post1
widgetsnbextension==3.6.10
GDAL==3.6.4
StrEnum==0.4.15
grpc-google-iam-v1==0.13.1
editdistance==0.8.1
lazy_loader==0.4
joblib==1.4.2
proglog==0.1.10
ndindex==1.9.2
pyasn1==0.6.1
weasel==0.4.1
html5lib==1.1
requests==2.32.3
tbb==2022.0.0
aiosignal==1.3.1
google-cloud-firestore==2.19.0
h5py==3.12.1
importlib_metadata==8.5.0
pyspark==3.5.3
numexpr==2.10.1
networkx==3.4.2
osqp==0.6.7.post3
nvtx==0.2.10
google-resumable-media==2.7.2
threadpoolctl==3.5.0
intel-cmplr-lib-ur==2025.0.0
nbconvert==7.16.4
missingno==0.5.2
oauthlib==3.2.2
flax==0.8.5
xgboost==2.1.2
yellowbrick==1.5
pytest==8.3.3
nvidia-cuda-cupti-cu12==12.6.80
jieba==0.42.1
natsort==8.4.0
nvidia-cudnn-cu12==9.5.1.17
cymem==2.0.8
referencing==0.35.1
spacy-loggers==1.0.5
nvidia-cublas-cu12==12.6.3.3
text-unidecode==1.3
typeguard==4.4.1
langcodes==3.4.1
sentry-sdk==2.18.0
miniKanren==1.0.3
pexpect==4.9.0
tf-slim==1.1.0
tzlocal==5.2
cloudpathlib==0.20.0
gensim==4.3.3
fastdownload==0.0.7
imutils==0.5.4
fastrlock==0.8.2
pylibcudf-cu12==24.10.1
earthengine-api==1.2.0
llvmlite==0.43.0
orbax-checkpoint==0.6.4
geocoder==1.38.1
polars==1.9.0
jellyfish==1.1.0
google-cloud-functions==1.18.0
nvidia-cuda-nvcc-cu12==12.6.77
rmm-cu12==24.10.0
nvidia-nvjitlink-cu12==12.6.77
atpublic==4.1.0
debugpy==1.8.0
filelock==3.16.1
gspread-dataframe==3.3.1
nvidia-nccl-cu12==2.23.4
openpyxl==3.1.5
pydot==3.0.2
MarkupSafe==3.0.2
rich==13.9.4
uc-micro-py==1.0.3
kaggle==1.6.17
pylibraft-cu12==24.10.0
opt_einsum==3.4.0
requests-oauthlib==1.3.1
clarabel==0.9.0
GitPython==3.1.43
Cython==3.0.11
ml-dtypes==0.4.1
immutabledict==4.2.0
xarray==2024.10.0
scikit-image==0.24.0
etils==1.10.0
namex==0.0.8
PyJWT==2.9.0
importlib_resources==6.4.5
ipyevents==2.0.2
wasabi==1.1.3
geemap==0.35.1
ipython==7.34.0
pycocotools==2.0.8
cycler==0.12.1
mdurl==0.1.2
preshed==3.0.9
lxml==5.3.0
py-cpuinfo==9.0.0
setproctitle==1.3.3
google-pasta==0.2.0
google-generativeai==0.8.3
opencv-python==4.10.0.84
libcudf-cu12==24.10.1
scipy==1.13.1
sphinxcontrib-htmlhelp==2.1.0
jupyter-server==1.24.0
pygame==2.6.1
humanize==4.11.0
orjson==3.10.11
snowballstemmer==2.2.0
uritemplate==4.1.1
imageio-ffmpeg==0.5.1
pyperclip==1.9.0
propcache==0.2.0
jaxlib==0.4.33
sentencepiece==0.2.0
charset-normalizer==3.4.0
jax==0.4.33
nbformat==5.10.4
sympy==1.13.1
lightgbm==4.5.0
jsonpointer==3.0.0
PyDrive==1.3.1
typing_extensions==4.12.2
wheel==0.44.0
progressbar2==4.5.0
mdit-py-plugins==0.4.2
bqplot==0.12.43
psutil==5.9.5
torch==2.5.0+cu121
chex==0.1.87
fastprogress==1.0.3
Send2Trash==1.8.3
SQLAlchemy==2.0.36
google-cloud-bigquery-storage==2.27.0
babel==2.16.0
googleapis-common-protos==1.65.0
Deprecated==1.2.14
pickleshare==0.7.5
transformers==4.46.2
slicer==0.0.8
jupyter-client==6.1.12
fonttools==4.54.1
xyzservices==2024.9.0
ibis-framework==9.2.0
matplotlib-inline==0.1.7
jupyter_core==5.7.2
holidays==0.60
tf_keras==2.17.0
community==1.0.0b1
rpds-py==0.21.0
gspread==6.0.2
gdown==5.2.0
protobuf==4.25.5
jax-cuda12-pjrt==0.4.33
entrypoints==0.4
tensorboard-data-server==0.7.2
pooch==1.8.2
nvidia-cuda-runtime-cu12==12.6.77
altair==4.2.2
xarray-einstats==0.8.0
nvidia-cusparse-cu12==12.5.4.2
pyerfa==2.0.1.4
numpy==1.26.4
seaborn==0.13.2
websocket-client==1.8.0
torchsummary==1.5.1
pymystem3==0.2.0
spacy-legacy==3.0.12
tzdata==2024.2
webencodings==0.5.1
ipython-genutils==0.2.0
google-cloud-bigtable==2.26.0
gcsfs==2024.10.0
toolz==0.12.1
pycparser==2.22
yarl==1.17.1
stanio==0.5.1
google-cloud-bigquery-connection==1.16.1
requests-toolbelt==1.0.0
google-cloud-pubsub==2.26.1
imbalanced-learn==0.12.4
spacy==3.7.5
db-dtypes==1.3.0
statsmodels==0.14.4
safetensors==0.4.5
partd==1.4.2
py4j==0.10.9.7
rpy2==3.4.2
optax==0.2.3
jsonschema==4.23.0
cons==0.4.6
google-cloud-storage==2.8.0
stringzilla==3.10.8
colorcet==3.1.0
httplib2==0.22.0
google-cloud-core==2.4.1
aiohappyeyeballs==2.4.3
regex==2024.9.11
pylibcugraph-cu12==24.10.0
wandb==0.18.6
tensorflow-datasets==4.9.7
decorator==4.4.2
jupyter-console==6.1.0
grpcio==1.67.1
async-timeout==4.0.3
tcmlib==1.2.0
distro==1.9.0
ipytree==0.2.2
pyasn1_modules==0.4.1
kiwisolver==1.4.7
pyviz_comms==3.0.3
prettytable==3.12.0
traitlets==5.7.1
frozendict==2.4.6
dlib==19.24.2
nbclient==0.10.0
cloudpickle==3.1.0
pandas==2.2.2
firebase-admin==6.5.0
google-cloud-bigquery==3.25.0
jsonpickle==3.4.2
tensorflow-hub==0.16.1
notebook_shim==0.2.4
sphinxcontrib-devhelp==2.0.0
opentelemetry-semantic-conventions==0.49b0
bigframes==1.25.0
google-cloud-resource-manager==1.13.0
locket==1.0.0
cuda-python==12.2.1
shap==0.46.0
pyproj==3.7.0
google-api-core==2.19.2
parso==0.8.4
cufflinks==0.17.3
pandocfilters==1.5.1
et_xmlfile==2.0.0
frozenlist==1.5.0
multidict==6.1.0
moviepy==1.0.3
langsmith==0.1.142
easydict==1.13
pyzmq==24.0.1
pluggy==1.5.0
hyperopt==0.2.7
langchain-text-splitters==0.3.2
tables==3.10.1
tensorflow-probability==0.24.0
urllib3==2.2.3
glob2==0.7
notebook==6.5.5
sphinxcontrib-applehelp==2.0.0
cvxopt==1.3.2
contourpy==1.3.0
chardet==5.2.0
tensorstore==0.1.67
mpmath==1.3.0
multipledispatch==1.0.0
gym-notices==0.0.8
soxr==0.5.0.post1
python-box==7.2.0
docstring_parser==0.16
cryptography==43.0.3
nvidia-cusolver-cu12==11.7.1.2
defusedxml==0.7.1
wordcloud==1.9.3
cachetools==5.5.0
intel-openmp==2025.0.0
catalogue==2.0.10
geopy==2.4.1
jupyterlab_widgets==3.0.13
google-cloud-aiplatform==1.71.1
pandas-stubs==2.2.2.240909
python-slugify==8.0.4
google-auth-oauthlib==1.2.1
numba==0.60.0
smart-open==7.0.5
pytz==2024.2
CacheControl==0.14.1
wrapt==1.16.0
pathlib==1.0.1
plotnine==0.14.1
bigquery-magics==0.4.0
tomli==2.0.2
tweepy==4.14.0
pillow==11.0.0
google-cloud-translate==3.17.0
scikit-learn==1.5.2
cupy-cuda12x==12.2.0
prophet==1.1.6
peewee==3.17.7
parsy==2.1
diffusers==0.31.0
tensorboard==2.17.0
webcolors==24.8.0
pyshp==2.3.1
google-crc32c==1.6.0
srsly==2.4.8
PyOpenGL==3.1.7
h5netcdf==1.4.0
zipp==3.20.2
umf==0.9.0
attrs==24.2.0
ratelim==0.1.6
torchaudio==2.5.0+cu121
pyparsing==3.2.0
click==8.1.7
graphviz==0.20.3
marisa-trie==1.2.1
einops==0.8.0
pyOpenSSL==24.2.1
prometheus_client==0.21.0
grpcio-status==1.62.3
google-cloud-language==2.15.0
Bottleneck==1.4.2
patsy==0.5.6
pydata-google-auth==1.8.2
pygit2==1.16.0
pymc==5.18.0
tabulate==0.9.0
opencv-python-headless==4.10.0.84
soundfile==0.12.1
thinc==8.2.5
blis==0.7.11
geographiclib==2.0
argon2-cffi-bindings==21.2.0
pydantic==2.9.2
googledrivedownloader==0.4
cmdstanpy==1.2.4
typer==0.13.0
param==2.1.1
itsdangerous==2.2.0
iniconfig==2.0.0
ipyparallel==8.8.0
ecos==2.0.14
autograd==1.7.0
jiter==0.7.0
en-core-web-sm==3.7.1
tornado==6.3.3
Werkzeug==3.1.3
linkify-it-py==2.0.3
blinker==1.9.0
folium==0.18.0
geopandas==1.0.1
PySocks==1.7.1
google-ai-generativelanguage==0.6.10
plotly==5.24.1
fastcore==1.7.19
python-utils==3.9.0
python-dateutil==2.8.2
torchvision==0.20.0+cu121
datascience==0.17.6
imageio==2.36.0
cudf-cu12==24.10.1
colorlover==0.3.0
inflect==7.4.0
dm-tree==0.1.8
Jinja2==3.1.4
nvidia-cufft-cu12==11.3.0.4
kagglehub==0.3.3
pyarrow-hotfix==0.6
shapely==2.0.6
nibabel==5.3.2
mkl==2025.0.0
branca==0.8.0
pytensor==2.25.5
pyarrow==17.0.0
gin-config==0.5.0
google-auth==2.27.0
music21==9.3.0
confection==0.1.5
timm==1.0.11
psycopg2==2.9.10
cvxpy==1.5.3
toml==0.10.2
opentelemetry-sdk==1.28.0
nvidia-curand-cu12==10.3.7.77
openai==1.54.3
vega-datasets==0.9.0
arviz==0.20.0
textblob==0.17.1
annotated-types==0.7.0
imgaug==0.4.0
opentelemetry-api==1.28.0
bleach==6.2.0
multitasking==0.0.11
promise==2.3
soupsieve==2.6
ipython-sql==0.5.0
anyio==3.7.1
optree==0.13.0
murmurhash==1.0.10
albumentations==1.4.20
markdown-it-py==3.0.0
matplotlib==3.8.0
tqdm==4.66.6
pyogrio==0.10.0
aiohttp==3.10.10
peft==0.13.2
jax-cuda12-plugin==0.4.33
eval_type_backport==0.2.0
langchain==0.3.7
docutils==0.21.2
eerepr==0.0.4
nest-asyncio==1.6.0
sqlglot==25.1.0
pynvjitlink-cu12==0.4.0
scooby==0.10.0
terminado==0.18.1
nx-cugraph-cu12==24.10.0
jsonpatch==1.33
ptyprocess==0.7.0
six==1.16.0
dask==2024.10.0
greenlet==3.1.1
panel==1.5.3
python-louvain==0.16
fastjsonschema==2.20.0
xlrd==2.0.1
gast==0.6.0
imagesize==1.4.1
idna==3.10
tensorflow==2.17.0
etuples==0.3.9
termcolor==2.5.0
argon2-cffi==23.1.0
exceptiongroup==1.2.2
duckdb==1.1.3
astunparse==1.6.3
alabaster==1.0.0
tinycss2==1.4.0
opencv-contrib-python==4.10.0.84
tensorflow-metadata==1.13.1
PyDrive2==1.21.1
qdldl==0.1.7.post4
pandas-gbq==0.24.0
jupyterlab_pygments==0.3.0
certifi==2024.8.30
beautifulsoup4==4.12.3
scs==3.2.7
sphinxcontrib-jsmath==1.0.1
pydotplus==2.0.2
dopamine_rl==4.0.9
tensorflow-io-gcs-filesystem==0.37.1
sklearn-pandas==2.2.0
traittypes==0.2.1
libclang==18.1.1
jsonschema-specifications==2024.10.1
sentence-transformers==3.2.1
PyYAML==6.0.2
Flask==3.0.3
huggingface-hub==0.26.2
yfinance==0.2.48
gym==0.25.2
pandas-datareader==0.10.0
google-api-python-client==2.151.0
cffi==1.17.1
simple-parsing==0.1.6
portpicker==1.5.2
audioread==3.0.1
matplotlib-venn==1.1.1
ipykernel==5.5.6
absl-py==1.4.0
backcall==0.2.0
sqlparse==0.5.1
keras==3.4.1
google==2.0.3
packaging==24.2
cmake==3.30.5
wcwidth==0.2.13
tifffile==2024.9.20
Pygments==2.18.0
google-auth-httplib2==0.2.0
albucore==0.0.19
shellingham==1.5.4
prompt_toolkit==3.0.48
langchain-core==0.3.15
bokeh==3.6.1
proto-plus==1.25.0
astropy==6.1.5
nbclassic==1.1.0
google-cloud-datastore==2.20.1
mlxtend==0.23.2
Sphinx==8.1.3
sniffio==1.3.1
accelerate==1.1.1
gitdb==4.0.11
tokenizers==0.20.3
smmap==5.0.1
h11==0.14.0
oauth2client==4.1.3
nltk==3.9.1
docker-pycreds==0.4.0
rsa==4.9
blosc2==2.7.1
ipyfilechooser==0.6.0
array_record==0.5.1
pydantic_core==2.23.4
holoviews==1.20.0
language_data==1.2.0
more-itertools==10.5.0
fastai==2.7.18
google-cloud-iam==2.16.0
mistune==3.0.2
logical-unification==0.4.6
astropy-iers-data==0.2024.11.4.0.33.34
python-apt==0.0.0
requirements-parser==0.9.0
pip==24.1.2
setuptools==75.1.0
types-setuptools==75.3.0.20241112
SecretStorage==3.3.1
jeepney==0.7.1
distro==1.7.0
PyGObject==3.42.1
dbus-python==1.2.18
lazr.uri==1.0.6
keyring==23.5.0
pyparsing==2.4.7
importlib-metadata==4.6.4
more-itertools==8.10.0
PyJWT==2.3.0
zipp==1.0.0
python-apt==2.4.0+ubuntu4
httplib2==0.20.2
blinker==1.4
six==1.16.0
lazr.restfulclient==0.14.4
launchpadlib==1.10.16
wadllib==1.3.6
oauthlib==3.2.0
cryptography==3.4.8
zipp==3.19.2
importlib_resources==6.4.0
jaraco.context==5.3.0
typing_extensions==4.12.2
autocommand==2.2.2
jaraco.functools==4.0.1
backports.tarfile==1.2.0
tomli==2.0.1
importlib_metadata==8.0.0
jaraco.text==3.12.1
packaging==24.1
inflect==7.3.1
jaraco.collections==5.1.0
wheel==0.43.0
more-itertools==10.3.0
platformdirs==4.2.2
typeguard==4.3.0
